* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: peachpuff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}

.myntra_home {
    height: 45px;
}

.logo_container {
    margin-left: 2%;
}

.action_bar {
    margin-right: 2%;
}

.nav_bar {
    display: flex;
    min-height: 25px;
    justify-content: space-evenly;
    margin: 2px;
    justify-content: space-around;
    height: 25px;
    padding-top: 5px;
}


}
.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700px;
    text-transform: uppercase;
    text-decoration: none;
}
.nav_bar a sup {
    color: #ff3f6c;
    font-size: 10px;
}
.search_bar {
    height: 40px;
    min-width: 30px;
    display: flex;
    align-items: center;
    width: ;
}
.search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}
.search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 4;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px0;
}
.action_bar {
    display: flex;
}
.action_container {
    display: flex;
    flex-direction: column;
}