* {
    margin: 0;
    padding: 0;
}

.box {
    height: 150px;
    width: 150px;
    border: 3px solid black;
    margin: 5px;
    flex-grow: 1;
}

#heading {
    text-align: center;
}

#container1 {
    height: 600px;
    width: 600px;
    padding: 10px;
    margin: 20px;
    border: 3px solid black;
    background-color: aquamarine;
    display: flex;
}

#container2 {
    height: 600px;
    width: 600px;
    padding: 10px;
    margin: 20px;
    border: 3px solid black;
    background-color: rgb(171, 107, 231);
    display: flex;
}

#container3 {
    height: 600px;
    width: 600px;
    padding: 10px;
    margin: 20px;
    border: 3px solid black;
    background-color: rgb(183, 158, 207);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#box1 {
    background-color: aqua;
    flex-shrink: 4;
}

#box2 {
    background-color: blueviolet;
    align-self: center;
}

#box3 {
    background-color: yellow;
    flex-grow: 2;
}

#box4 {
    background-color: tomato;
    order: 2;
}

#box5 {
    background-color: lightblue;
    order: 3;
}

#box6 {
    background-color: lightgreen;
    order: 1;
}